*{
    margin: 0;
    padding: 0    
}


.backround {
    background-color: #FFC1CC;
  width: 100vw;
  height: 98vh;
  position: relative;
}

.backround2 {
    background-color: #FFC1CC;
  width: 100vw;
  height: 99vh;
  position: relative;
}

.box {
    background-color: #E75480 ;
  margin:auto;
  align-items: center ;
  width: 75vw;
  height:max-content;
  padding: 15px;
}

.pavadinimas {
    text-align: center;
    padding: 10px;
    background-color:#f61e61;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}

.photocrop {
    width: 400px;
    height: 300px;
    overflow: hidden;
}



.aprasymas {
    text-align: center;
    padding: 10px;
    
}

.stulpelis {
    clear: both;
}

.list{
    width: 40%;
    height: max-content;
    float: left;
    align-items: center;
    text-align: left;
    list-style-position: inside;
   
   
}

.ingredientai {
    width: 50%;
    float: left;
    align-items: center;
    text-align: right;
    list-style-position: inside;
}

.button
{
    text-align: center;
    padding: 15px;
}

h3 {
    display:flexbox;
    text-align:center;
}
.listspaceb
{
    clear: both;
    margin: auto;
  align-items: center ;
  
  height: 180px;
  width: 5%;
  float: left;
  align-items: center;
  text-align: center;
 
}

.listspacek
{
    clear: both;
    margin: auto;
  align-items: center ;
  
  height: 220px;
  width: 5%;
  float: left;
  align-items: center;
  text-align: center;
 
}

p {
text-align: center;
}

.isikurimas{
    text-align: center;

}

.isikurimasp
{
 padding: 60px;
}

.eitzemiau{
    display: block;
    position:absolute;
  
  text-align: center;
  width: 50%;
  bottom: 0;
  right: 24%;
  padding: 5px;
  padding-bottom: 60px;
}

.aciu {
    position: absolute;
    bottom: 0;
    right: 45%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}